*{
  box-sizing: border-box;
}

header {
  height: 120px;
  background-image: url("../images/pink.jpg");
}

header h1 {
  font-weight: bolder;
  letter-spacing: 2px;
}

/* nav styles */

#navigation {
  display: flex;
  width: 99%;
  justify-content: right;
  padding: 15px 30px;
}

.navi {
  cursor:default;
  color: black;
  font-size: 25px;
  padding : 0 10px 0 10px;
}

.navi:hover {
  background-color: rgb(126, 205, 232);
}

.hero-banner {
  display: flex;
  justify-content:space-evenly;
}

/* container styles */

main {
  background-image: url(../images/portfoliophoto.jpg);
  background-position-y: top;
  background-size: 500px;
}

/* About Section */

.aboutme {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.aboutme h3 {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0.8; 
  padding: 10px;
  font-size: 30px;
  flex: 20%;
  display: flex;
  justify-content: flex-end;
}

.aboutme aside {
  flex: 80%;
  padding: 20px;
  border-left: 10px solid pink;
}

img {
  display: block;
  float: right;
}

/* Work Display Section */

.workdisp {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  display: flex;
  align-items: center;
}

.worktitle {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0.8; 
  padding: 10px;
  font-size: 30px;
  flex: 20%;
  display: flex;
  justify-content: flex-end;
}

.workshowcase {
  flex: 80%;
  padding: 20px;
  border-left: 10px solid pink;
}

.text {
 background-color: pink;
 opacity: 0.8; 
 color: white;
 font-size: 40px;
 text-decoration:none;
}

.mainbox {
  height: 500px;
  margin: 20px;
  background-image: url(../images/organics.png);
  background-size:contain;
  width: auto;
  border: 5px solid black;
  align-items:end;
  display: flex;
}

.top, .bottom {
display: flex;
height: 200px;
margin: 20px;
width: auto;
}

.topright {
  border: 5px solid black;
  flex: 50%;
  background-image: url(../images/treatbox.png);
  background-size:contain;
  align-items:end;
  display: flex;
  }

.bottomright {
  border: 5px solid black;
  flex: 50%;
  align-items:end;
  background-image: url(../images/treehouse.jpg);
  background-size:contain;
  display: flex;
  }

.topleft {
  border: 5px solid black;
  flex: 50%;
  align-items:end;
  background-image: url(../images/Wild3.jpg);
  background-size:contain;
  display: flex;
  }

 .bottomleft {
  border: 5px solid black;
  flex: 50%;
  align-items:end;
  background-image: url(../images/buzzy.png);
  background-size:contain;
  display: flex;
  }
  
  /* Contact section */

.contactme {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 25px;
  display: flex;
  align-items: center;

}

.contactme h3 {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0.8; 
  padding: 10px;
  font-size: 30px;
  flex: 20%;
  display: flex;
  justify-content: flex-end;
}

.contactme aside {
  flex: 80%;
  padding: 20px;
  border-left: 10px solid pink;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
/* Link styling */

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }
a {
  text-decoration: none;
  color: black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {font-size: 13px;}
  aside {font-size: 13px;}
  .navi {font-size: 16px;}
  .text {font-size: 13px;}
  .contactme aside {border-left: 5px solid pink;}
  .workshowcase {border-left: 5px solid pink;}
  .aboutme aside {border-left: 5px solid pink;}
  .aboutme h3 {font-size: 18px;}
  .worktitle {font-size: 18px;}
  .contactme h3 {font-size: 18px;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {font-size: 13px;}
    aside {font-size: 13px;}
    .navi {font-size: 16px;}
    .text {font-size: 13px;}
    .contactme aside {border-left: 5px solid pink;}
    .workshowcase {border-left: 5px solid pink;}
    .aboutme aside {border-left: 5px solid pink;}
    .aboutme h3 {font-size: 18px;}
    .worktitle {font-size: 18px;}
    .contactme h3 {font-size: 18px;}
  }

  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {font-size: 13px;}
  aside {font-size: 13px;}
  .navi {font-size: 16px;}
  .text {font-size: 13px;}
  .contactme aside {border-left: 5px solid pink;}
  .workshowcase {border-left: 5px solid pink;}
  .aboutme aside {border-left: 5px solid pink;}
  .aboutme h3 {font-size: 18px;}
  .worktitle {font-size: 18px;}
  .contactme h3 {font-size: 18px;}
  header h1 {font-size: 50px;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)  {
    header {height: 220px;}
    body {font-size: 32px;}
    aside {font-size: 32px;}
    .navi {font-size: 40px;}
    .text {font-size: 32px;}
    .contactme aside {border-left: 15px solid pink;}
    .workshowcase {border-left: 15px solid pink;}
    .aboutme aside {border-left: 15px solid pink;}
    .aboutme h3 {font-size: 45px;}
    .worktitle {font-size: 45px;}
    .contactme h3 {font-size: 45px;}
  }